<div class="online_status">
  <h3>Is Current User online</h3>
  <form action="/online_user" method="Get">
    <p>
      <input type="text" name="FullJid" id="FullJid" placeholder="fullJid" />
    </p>

    <input type="submit" value="Online Status " class="submit" />
  </form>
</div>
