<div class="sign_up_box">
  <h3>Sign up your XMPP account</h3>
  <form action="/sign_up" method="post">
    <p>
      <input type="text" name="name" id="name" placeholder="Name" />
    </p>

    <p>
      <input type="password" name="password" id="password" placeholder="Password" />
    </p>

    <input type="submit" value="Sign up" class="submit" />
  </form>
</div>
